        <footer>
            <hr>
            Internet Programming. 2020&copy; Guerra <br/>
            <strong>Disclaimer:</strong> The information in this webpage is fictitous. <br />
            It is used for academic purposes only. <br />
        </footer>
    
    </body>
    
</html>