<%- include('partials/header.ejs') %>
        <main >
            <figure id="ex" >
                <img src="img/ex.png" alt="Picture Of Example" />
            </figure>
            
            <div id="ExampleText">
                <strong>Overview:</strong> <br />
                
                <p>This code includes the header file into the application so that you are able to use the operations included in them.
                We use the namespace std to make it easier to reference operations included in that namespace.
                The main function of the program is called the body and is executed first when you run your C++ program.
                This statement prints Hello World! </p>
                <br />
                <a href="https://www.programiz.com/cpp-programming"> source</a>
            
                <br />
                
            </div>
        </main>
<%- include("partials/footer.ejs") %>