<%- include('partials/header.ejs') %>
        <main >
            <figure id="ex" >
                <img src="img/feat.png" alt="Picture Of Features" />
            </figure>
            
            <div id="FeaturesText">
                <strong>Overview:</strong> <br />
                
                <table>
                <tr id="table-header">
                    <td><strong>Main Features:</strong></td>
                </tr>
                <tr class="table-row">
                    <td>Simple</td>
                </tr>
                <tr class="table-row">
                    <td>Object-Oriented</td>
                </tr>
                <tr class="table-row">
                    <td>Pointers</td>
                </tr>
                <tr class="table-row">
                    <td>Recursion</td>
                </tr>
            </table>
            
                <p></p>
                <br />
                <a href="https://www.javatpoint.com/cpp-features"> source</a>
            
                <br />
                
            </div>
        </main>
<%- include('partials/footer.ejs') %>