<%- include('partials/header.ejs') %>
        <main >
            <figure id="cpp" >
                <img src="img/his.png" alt="Picture Of History" style="width:450px;height:350px;" />
            </figure>
            
            <div id="historyText">
                <strong>Overview:</strong> <br />
                
                <p>Dates back to <strong>1979</strong>
                Developed by Bjarne Stroustrup as a thesis project.
                In 1983, the name of the language was changed from C with Classes to C++.
                In 1990, The Annotated C++ Reference Manual was released.
                In 2005, the C++ standards committee released a technical report (dubbed TR1) 
                detailing various features they were planning to add to the latest C++ standard.
                In mid-2011, the new C++ standard (dubbed C++11) was finished.             </p>
                
    
                <a href="http://www.cplusplus.com/info/history/"> source</a>
            
                <br /><br />
                
            
                <br />
                
            </div>
        </main>
<%- include('partials/footer.ejs') %>