<%- include('partials/header.ejs') %>
        <main >
            <figure id="cpp" >
                <img src="img/cpp.png" alt="Picture Of Wizard King" style="width:450px;height:350px;" />
            </figure>
            
            <div id="welcomeText">
                <strong>Hello <%=name%>, Overview:</strong> <br />
                
                <p>C++ is an extension of the programming language known as C.</p>
                <p>Designed by danish computer scientist, Bjarne Stroustrup, 35 years ago!</p>
                <p>C++ introduces object-oriented programming (OOP) features to C.</p>
                
                <br /><br />
                
            
                <br />
                
            </div>
        </main>
<%- include('partials/footer.ejs') %>